<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDL2tQKeuaaAEsdB6QLRSLX2uhR54IJjdc</string>
	<key>GCM_SENDER_ID</key>
	<string>303621270758</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Enkod.test-new-library</string>
	<key>PROJECT_ID</key>
	<string>marketappdatabase-e8aae</string>
	<key>STORAGE_BUCKET</key>
	<string>marketappdatabase-e8aae.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:303621270758:ios:698d6630e0599754425f27</string>
	<key>DATABASE_URL</key>
	<string>https://marketappdatabase-e8aae-default-rtdb.firebaseio.com</string>
</dict>
</plist>